#navbar{
    background-color: #6ec4df;
    color: #fdfdfd;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
body{
    padding-top: 65px;
}
#jumbotron1{
background-image: url("jumbotron-background.jpg");
background-repeat: initial;
}
#jumbotron-btn{
  background-color:#000000;
  color: #ffffff;
}
#jumbotron-div{
    color: #ffffff;
}