.navbar.navbar-expand-lg.navbar-light.fixed-top a{
    background-color: rgb(226, 0, 26);
    color: #fdfdfd;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#navbar{
    background-color: rgb(226, 0, 26);
    color: #fdfdfd;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.navbar-brand{
    font-weight: 600;
}
body{
    background-color: #f2f2f2;
    padding-top: 65px;
    margin-bottom: 50px;
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#jumbotron1{
    
}
#jumbotron-btn{
  color: #ffffff;
  background-color: rgb(226, 0, 26);
}
#jumbotron-div{
    color: #000000;
}
h1{
    overflow-wrap:break-word;
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens:auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    height:35px;
}
.navbar.navbar-expand-lg.navbar-light.fixed-top a.nav-button{
    background-color: #b30015;
}
.btn.btn-default{
    color: #ffffff;
  background-color: #b30015;
}
.btn{
    background-color: rgb(226, 0, 26);
    color:white;
}
.table.table-sm{
    color: #000000;
  background-color:  #f2f2f2;;
}
.weg{
    font-size: 40px;
    color: #7e0006
}