article#jumbotron-div.container
    #jumbotron1.jumbotron(style='background-color: #ffffff')
        h1 Über uns
        p
            | Wir, das sind Alex, Anton und Niko, sind Schüer der 
            a(href='http://hansenberg.de') Internatsschule Schloss Hansenberg
            | .
            br
            |                 Dieses Portal haben wir im Zuge unseres Informatik-Leistungskurses entwickelt.
            br
            |                 Unser Ziel ist es, Informationen über den zweiten Bildungsweg bereitzustellen und Menschen zu motivieren,
            br
            |  sich beruflich weiterzubilden und den zweiten Bildungsweg zu beschreiten.
            br
            |                 Wir wünschen viel Erfolg dabei!