article#jumbotron-div.container.my-2.mx-auto
	#jumbotron1.jumbotron(style='background-color: #ffffff')
		h1 Ihre Nachricht wurde erfolgreich gesendet.
		p Wir werden uns umgehend mit Ihnen in Verbindung setzen.
		br
		p Vielen Dank!