.container
    article
        h1 Kontaktformular
        -if(errors)
            each val in errors
                .alert.alert-danger(role='alert')
                    span= val

        form(method="POST" action="contact")
            .form-group
                label(for="name") Name
                input#name.form-control(type="name" placeholder="Vor- und Nachname" name="name")
            .form-group
                label(for="email") E-Mail-Adresse
                input#email.form-control(type="email"  placeholder="Ihre E-Mail-Adresse" name="email")
            .form-group
                label(for="subject") Betreff
                input#subject.form-control(type="subject" placeholder="Betreff" name="subject")
            .form-group
                label(for="message") Nachricht
                textarea#message.form-control(rows="5" name="message")
            button.btn.btn-default(type="submit") Abschicken