footer.footer.text-center
	span.text-muted.text-center.my-auto
		a.text-muted(href="impressum") Impressum
		a.text-muted.ml-2(href="datenschutz") Datenschutzerklärung
		a.text-muted.ml-2(href="contact") Kontakt