footer.footer.text-center.fixed-bottom.mx-2
			.container-fluid#footerdiv
				span.text-muted
					a.text-muted(href="impressum") Impressum
					a.text-muted.ml-2(href="datenschutz") Datenschutzerklärung
					a.text-muted.ml-2(href="contact") Kontakt