meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="Bildungswege")
meta(name="author" content="Alexander von Recum, Anton Peter, Nikolaus Stern")
link(rel="icon" href="favicon.ico")
title Bildungswege
link(href="css/bootstrap.css" rel="stylesheet")
link(href="style.css" rel="stylesheet")