article#jumbotron-div.container.my-2.mx-auto
	#jumbotron1.jumbotron(style="background-color: #ffffff")
		h1 Finde deinen Weg!
		p
			| Im Internet gibt es viele Informationen zu Ausbildung und Studium. Aber nur eine Seite, die dir Schritt für Schritt zeigt, wie du dein Ziel erreichen kannst! Unsere Seite ermöglicht es dir, schnell und einfach deinen individuellen Ausbildungsweg zu finden.
			br
			|  Melde dich noch heute an!
		a#jumbotron-btn.btn.btn-default.my-2(href='register') Registrieren
		br
		a#jumbotron-btn.btn.btn-default.my-2(href='login') Anmelden