article#jumbotron-div.container-fluid
	#jumbotron1.jumbotron(style="background-color: #ffffff")
		h1 Finde deinen Bildungsweg
		p
			| Unsere Seite ermöglicht es dir, schnell und einfach deinen individuellen Ausbildungsweg zu finden. Melde dich noch heute an!
		a#jumbotron-btn.btn.btn-default.my-2(href='register') Registrieren
		br
		a#jumbotron-btn.btn.btn-default.my-2(href='login') Anmelden