form(action="/login")
    input(type="text" name="username" placeholder="Benutzername")
    br
    input(type="password" name="password" placeholder="Passwort")
    br
    input(type="submit" value="einloggen")