.container.my-3.mx-auto
    form(method="POST" action="login")
        .form-group
            label(for="username") Benutzername
            input#username.form-control(type="text" aria-describedby="emailHelp" placeholder="Benutzernamen eingeben" name="username")
        .form-group
            label(for="password") Passwort
            input#password.form-control(name="password" type="password" placeholder="Passwort eingeben")
        button.btn.btn-primary(type="submit") einloggen