doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="Bildungswege")
		meta(name="author" content="Alexander von Recum, Anton Peter, Nikolaus Stern")
		link(rel="icon" href="favicon.ico")
		title Bildungswege
		link(href="css/bootstrap.css" rel="stylesheet")
		link(href="style.css" rel="stylesheet")
	body
		.container
			nav#navbar.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
				a.navbar-brand(href="/") Bildungswege
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				#navbarsExampleDefault.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href="find") Finde deinen Weg!
						li.nav-item.active
							a.nav-link(href="about") Über uns
						.float-lg-right
							ul.navbar-nav
								li.nav-item.active
									a.nav-link(href="register") Registrieren
								li.nav-item.active
									a.nav-link(href="login") Anmelden

		div !{content}
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
		script(src="js/bootstrap.js")
		footer.footer
			.container
				span.text-muted
					a.text-muted(href="impressum") Impressum
					a.text-muted.ml-1(href="datenschutz") Datenschutzerklärung
