nav#navbar.navbar.navbar-expand-lg.navbar-light.fixed-top
    a.navbar-brand(href="/") Bildungswege
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="find") Finde deinen Weg!
            li.nav-item.active
                a.nav-link(href="about") Über uns
        ul.navbar-nav.ml-auto
            ul.navbar-nav
                li.nav-item.active
                    a.btn.btn-default.nav-button.mt-1.mt-lg-0.mb-2.mb-lg-0(href="register") Registrieren
                li.nav-item.active
                    a.btn.btn-default.nav-button.ml-lg-1(href="login") Anmelden