article#jumbotron-div.container
    #jumbotron1.jumbotron(style='background-color: #ffffff')
        h1 Registrierung abgeschlossen
        p Sie haben sich erfolgreich registriert.
        p Vielen Dank für Ihr Vertrauen! Sie können sich nun einloggen.